@model SanZan.Models.Korisnik

@{
    ViewData["Title"] = "RegistracijaKlijent";
}

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link align=" right" text-dark" asp-area="" asp-controller="Korisnik" asp-action="Registracija">Nazad na odabir registracije</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="text-center">
        <h1 class="display-4">SanZan</h1>
        <div>
            <img src="https://github.com/ebajraktar1/OOAD-Projekat/blob/main/Dokumentacija/Specifikacija%20projekta/LogoIcon.png?raw=true">
        </div>
        <p>Registracija klijentskog naloga</p>
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            </div>
        </form>
    </div>

    
        <form asp-action="RegistracijaKlijent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table style="margin-top: 3%; margin-left: auto; margin-right: auto; width: 800px; border-spacing:100px">
                <tr>
                    <td style="padding-left: 50px; padding-right: 50px">
                        <div class="form-group">
                            <label asp-for="KorisnickoIme" class="control-label">Korisničko ime:</label>
                            <input asp-for="KorisnickoIme" class="form-control" />
                            <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
                        </div>
                    </td>
                    <td style="padding-left: 50px; padding-right: 50px">
                        <div class="form-group">
                            <label asp-for="Ime" class="control-label">Vaše ime:</label>
                            <input asp-for="Ime" class="form-control"/>
                            <span asp-validation-for="Ime" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 50px; padding-right: 50px">
                        <div class="form-group">
                            <label asp-for="Prezime" class="control-label">Vaše prezime:</label>
                            <input asp-for="Prezime" class="form-control" />
                            <span asp-validation-for="Prezime" class="text-danger"></span>
                        </div>
                    </td>
                    <td style="padding-left: 50px; padding-right: 50px">
                        <div class="form-group">
                            <label asp-for="Lozinka" class="control-label">Lozinka:</label>
                            <input asp-for="Lozinka" class="form-control" />
                            <span asp-validation-for="Lozinka" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 50px; padding-right: 50px">
                        <div class="form-group">
                            <label asp-for="IDKartice" class="control-label">Broj platne kartice:</label>
                            <input asp-for="IDKartice" class="form-control" />
                            <span asp-validation-for="IDKartice" class="text-danger"></span>
                        </div>
                    </td>
                    <td style="padding-left: 50px; padding-right: 50px">
                        <div class="form-group">
                            <label asp-for="BrojTelefona" class="control-label">Broj telefona:</label>
                            <input asp-for="BrojTelefona" class="form-control" />
                            <span asp-validation-for="BrojTelefona" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 50px; padding-right: 50px">
                        <div class="form-group">
                            <label asp-for="LokacijaId" class="control-label">Lokacija: </label>
                            <input asp-for="LokacijaId" class="form-control" />
                            <span asp-validation-for="LokacijaId" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-group" style="text-align: center; margin-top:5%">
                <input type="submit" value="Registrujte se" class="btn btn-primary"/>
            </div>
        </form>


    <footer></footer>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
