@model SanZan.Models.Korisnik

@{
    ViewData["Title"] = "Home Page";
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <footer class="border-top footer text-muted">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white fixed-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="InfoPitanje" asp-action="Index">InfoPult</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>
</body>
<div class="text-center">
    <h1 class="display-4">SanZan</h1>
    <p>Dobrodošli na našu stranicu</p>
    <div>
        <img src="https://github.com/ebajraktar1/OOAD-Projekat/blob/main/Dokumentacija/Specifikacija%20projekta/LogoIcon.png?raw=true">
    </div>
    <form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}